[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "lib/v2-core"]
	path = lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "lib/v2-periphery"]
	path = lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
